body {
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.navbar {
  overflow: hidden;
  background-image: linear-gradient(to right, #d1e9f6, #eecad5);
  border-radius: 0 0 10px 10px;
  box-shadow: 0 0 20px #cdcaee;
}

.navbar a {
  float: left;
  font-size: 16px;
  color: black;
  text-align: center;
  padding: 20px 20px;
  text-decoration: none;
  border-radius: 10px 10px 10px 10px;
}

.dropdown {
  float: left;
  overflow: hidden;
}

.dropdown .dropbtn {
  font-size: 16px;
  border: none;
  outline: none;
  color: black;
  padding: 20px 20px;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
  border-radius: 10px 10px 0 0;
}

.navbar a:hover,
.dropdown:hover .dropbtn {
  background-color: #dfc7ec;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
  border-radius: 0 10px 10px 10px;
}

.dropdown-content a {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown-content a:hover {
  background-color: #ddd;
}

.dropdown:hover .dropdown-content {
  display: block;
}
.wrapper {
  position: absolute;
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.container {
  margin-top: 80px;
  height: 600px;
  position: absolute;
  display: flex;
  flex-wrap: nowrap;
  justify-content: start;
}

.card {
  width: 80px;
  border-radius: 0.75rem;
  background-size: cover;
  cursor: pointer;
  overflow: hidden;
  border-radius: 2rem;
  margin: 0 10px;
  display: flex;
  align-items: flex-end;
  transition: 0.6s cubic-bezier(0.28, -0.03, 0, 0.99);
  box-shadow: 0px 10px 30px -5px rgba(0, 0, 0, 0.8);
}

.card > .row {
  color: white;
  display: flex;
  flex-wrap: nowrap;
}

.img {
  color: #b0b0ba;
  padding-top: 5px;
  height: 550px;
  width: auto;
  align-self: center;
  margin: 0 auto;
  border-radius: 2em;
}

input {
  display: none;
}

input:checked + label {
  width: 900px;
}

input[type="radio"]:not(:checked) ~ .img {
  display: none;
}

.card[for="c1"] {
  background-color: #ccd5ae;
}
.card[for="c2"] {
  background-color: #fefae0;
}
.card[for="c3"] {
  background-color: #faedcd;
}
.card[for="c4"] {
  background-image: #d4a373;
}
